.brands {
    background-color: #0F0F0F;
    width: 100%;

    &__title {
        font-family: 'Playfair Display';
        font-size: 36px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        padding-top: 120px;
        text-transform: uppercase;
    }

    &__inner {
        display: flex;
        padding-bottom: 80px;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
        
    }

    &__item {
        cursor: pointer;
    }
    &__img {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .brands__title {
        padding-top: 80px;
        font-size: 24px;
    }
}

@media screen and (max-width: 750px) {

    .brands__title {
       margin-bottom: 30px; 
       font-size: 18px;
       padding-top: 40px;
    }

    .brands__img {
        width: 50%;
    }

    .brands__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .brands__item:not(:last-child) {
      margin-right: 0px;
        
    }

    
}