@font-face {
    font-family: 'Post No Bills Jaffna';
    src: url('../fonts/postnobillsjaffna/PostNoBillsJaffna-Regular.ttf'); 
    src: url('../fonts/postnobillsjaffna/PostNoBillsJaffna-Bold.ttf') format('embedded-opentype'); 
        
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }