body {
    font-size: 14px;
    margin: 0;
    
    
    -webkit-font-smoothing:
              antialiased;
             
  
  }
  
  .page {
    
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .container {
    width: 100%; 
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
  }